<section class="poff-converter-work">
    <header class="poff-converter-work__header">
        <p class="poff-converter-work__eyebrow">Converter app</p>
        <h2 class="poff-converter-work__title">{{converter.label}}</h2>
    </header>
    <dl class="poff-converter-work__details">
        <div class="poff-converter-work__row">
            <dt>Source</dt>
            <dd>{{source.name}}</dd>
        </div>
        <div class="poff-converter-work__row">
            <dt>Format</dt>
            <dd>{{converter.format}}</dd>
        </div>
        <div class="poff-converter-work__row">
            <dt>Status</dt>
            <dd>{{status.state}}</dd>
        </div>
    </dl>
</section>
