/* -------------- Reset & Layout -------------- */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: var(--poff-font-size-root, 16px);
    overflow: auto; /* Allow body scroll */
    background-color: var(--poff-color-page-background);
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}
