/* -------------- Main Content -------------- */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    overflow-y: auto;
    min-width: 0;
}

/* Iframe */
.content-frame {
    flex-grow: 1;
    border: none;
    min-height: 60vh;
    padding-bottom: 24px;
}
